#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

#buttons {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 50px;
  
}

button {
    width: 100px;
    height: 50px;
    border: solid black;
    font-size: large;
}

#restart {
    margin-top: 50px;
}

#round-result, #final-result, #score {
    padding: 10px;
}